*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --white-color: #ffffff;
  --black-bg:#000000;
  --black-color: #000000;
  --white-bg: rgba(104, 104, 104, 0.528);
}
body{
background: var(--white-bg);
color: var(--black-color);
transition: .35s;
}
.App{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100vh;
}
.toggle-container{
  height: 50px;
  width: 50px;
  background: ghostWhite;
  box-shadow: 0 0 5px .25px #333;
  position: absolute;
  right: 15%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid black;
}
.toggle-container:hover{
  cursor: pointer;
}
.btn-toggle{
  position: relative;
  width: 100%;
}
#slider{
  content:"";
  width: 100px;
  position: absolute;
  background: black;
}
.slider-day{
  height: 0px;
  transition: .75s ease;
}
.slider-night{
  height: 100px;
  transition: .75s ease;
}
header{
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  left: 6rem;
  }
  .sub-text{
    margin-top: 1.75rem;
    letter-spacing: 1.25px;
    color: var(--black-color); 
    transition: .5s;
  }

.deactivated-default{
  opacity:.75;
  transition: .25s
}
.deactivated-ready{
  opacity: .35;
  transition: .25s
}

.activated-tap{
  opacity: 1;
}
  #gameboard-container{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr; 
    transition: .3s;
    margin-top:3rem;
  
  }
  
.tile{
  width: 200px;
  height: 200px;  
  transition: .3s;
}
.tile:hover{
  transition: .25s;
  cursor: pointer;
}

  #controls-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 2.5rem 0;
  }
  .space-evenly{
    justify-content: center;
    gap: 5rem;
    transition: .3s;
    width: 100%;
  }
  .centered{
    justify-content: center;
    gap: 0;
    transition: .3s;
    width: 100%;
  }
  .level{
   position: absolute;
   font-size: 30px;
  }
  .appeared{
    transform: scale(4);
    transition: .3s;
    margin: 0 4rem;
  }
  .hidden{
    transform: scale(0);
    opacity: 0;
  }
  .disabled{
    display: none;
  }
  #controls-wrapper>div>span:hover{
    transform: scale(5);
    cursor: pointer;
    transition: .3s;
  }
.no-pointer{
  pointer-events: none;
}





